<ion-view title="Self Test">
  <ion-content class="has-header padding">
      <p>Device ID: {{uuid}}</p>
      <button ng-click="goMainPage()">Main Screen</button>
      <p>Version 11.0</p>
      <button ng-click="doLog()">Log Sample Message</button>
      <h3>PubNub</h3>
      <button ng-click="PubNub_Init()">InitPubNub</button>
      <button ng-click="PubNub_sendBySocket()">Send Test</button>
      <button ng-click="PubNub_sendLocation()">Send Location</button>
      <button ng-click="PubNub_reportLocation()">Cont. Report Location/Work with watch</button>
      <button ng-click="PubNub_requestLocations()">Request Locations</button>
      <button ng-click="PubNub_ngListChannels()">ngListChannels</button>
      <pre>Status : {{socketStatus}}</pre>
      <pre>Answer: {{socketServerAnswer}}</pre>
      <!-- Failed to publish on Heruko, got Origin Error
      <p>-----------------------------------------------------------------------------------</p>
      <h3>socket.io</h3>
      <button ng-click="InitSocketIO()">InitSocketIO</button>
      <button ng-click="sendBySocket()">Send Test</button>
      <button ng-click="sendLocation()">Send Location</button>
      <button ng-click="requestLocations()">Request Locations</button>
      -->
      <p>-----------------------------------------------------------------------------------</p>
      <h3>GIS</h3>
      <button ng-click="getGISLocation()">Get Location</button>
      <button ng-click="watchGISLocation()">Watch Location</button>
      <button ng-click="setMapLocation()">Set Location On Map</button>
      <pre>GIS Info: {{gisInfo}}</pre>
      <google-map class="test-limit-size"
                  center="map.center"
                  draggable="true"
                  zoom="map.zoom">

          <markers models="map.markers" coords="'self'" icon="'icon'" click="'onClicked'" fit='true'>
              <windows class="marker-info-window" show="'showWindow'" closeClick="'closeClick'" ng-cloak>
                  <div >
                      <p ng-non-bindable>{{title}}</p>
                      <p ng-non-bindable>Position: {{ latitude | number:4 }}, {{ longitude | number:4 }}</p>
                  </div>
              </windows>
          </markers>
      </google-map>
  </ion-content>
</ion-view>
